<section id="intro">
	<!-- Header -->
	<div class="intro-header">
		<div class="container header-container">
			<div class="row">
                                <div class="col-md-1"></div>
				<div class="intro-image col-md-3">
                                      <img src="/img/reuse.png" style="width: 60%; margin-top: 4em;"/>

<center> <div style="width: 60%;margin-top: 3em;"><p>Best practices for license information in ways not only humans can read, but <i>computers</i> as well. Machine readable copyright and license information, simply put!</p></div></center>
<br />

  <form action="https://fsfe.org/share" method="GET" class="share-buttons bottom" target="_blank">
    <input type="radio" name="popup" id="no-share-popup" />
    <input type="hidden" name="ref" value="bottom" />
    <input type="hidden" name="url" value="https://reuse.software/" />
    <input type="hidden" name="title" value="REUSE - making foss licenses computer readable" />
    <input type="hidden" class="n" name="website" placeholder="Please do not put anything here" />
    <label class="button share-diaspora" title="Share this page on Diaspora" for="diaspora-share-bottom">Diaspora</label><input type="radio" name="popup" id="diaspora-share-bottom"><span class="popup diaspora"><label for="no-share-popup"></label><input type="text" name="diasporapod" value="" placeholder="Diaspora URL (diasp.tld)"><button type="submit" name="service" value="diaspora">OK</button></span><wbr></wbr>
    <label class="button share-gnusocial" title="Share this page on GNU Social" for="gnusocial-share-bottom">GNU Social</label><input type="radio" name="popup" id="gnusocial-share-bottom"><span class="popup gnusocial"><label for="no-share-popup"></label><input type="text" name="gnusocialpod" value="" placeholder="GNU Social URL (gnusocial.tld)"><button type="submit" name="service" value="gnusocial">OK</button></span><wbr></wbr>
    <button type="submit" name="service" value="reddit" class="button share-reddit" title="Share this page on Reddit">Reddit</button><wbr></wbr>
    <button type="submit" name="service" value="twitter" class="button share-twitter" title="Share this page on Twitter">Twitter</button><wbr></wbr>
    <button type="submit" name="service" value="facebook" class="button share-facebook" title="Share this page on Facebook">Facebook</button><wbr></wbr>
    <button type="submit" name="service" value="gplus" class="button share-gplus" title="Share this page on Google+">Google+</button><wbr></wbr>
    <button type="submit" name="service" value="hnews" class="button share-hnews" title="Share this page on Hacker News">Hacker News</button><wbr></wbr>

  </form>
  <div style="clear: both; margin-bottom: 1em;">&nbsp;</div>
</div>
				<div class="intro-message col-md-6">
<center>
<p>
  <video controls="controls" poster="/img/poster.jpg" crossorigin="crossorigin" width="80%">
    <source src="https://download.fsfe.org/videos/pmpc/pmpc_desktop.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' media="screen and (min-device-width:1000px)" />
    <source src="https://download.fsfe.org/videos/pmpc/pmpc_desktop.webm" type='video/webm; codecs="vp9, opus"' media="screen and (min-device-width:1000px)" />
    <source src="https://download.fsfe.org/videos/pmpc/pmpc_mobile.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' media="screen and (max-device-width:999px)" />
    <source src="https://download.fsfe.org/videos/pmpc/pmpc_mobile.webm" type='video/webm; codecs="vp9, opus"' media="screen and (max-device-width:999px)" />
    
 </video></p>
</center>

					<hr class="intro-divider">
<center>
<a class="btn btn-default" href="/practices/">
  <i class="fa fa-book"></i> Read the practices</a>
<a class="btn btn-default" href="/dev/">
  <i class="fa fa-laptop"></i> View developer docs </a>
</center>

</div>
</div> <!-- row -->
		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
