.share-buttons.bottom {
  margin: 4em 0 -2em 0;
  font-size: 0.7em;
}
.share-buttons.bottom button.button,
.share-buttons.bottom label.button {
  display: inline-block;
  margin: 2.5px 5px 2.5px 0;
  color: #fff;
  font-weight: normal;
  font-size: 1em;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  padding: 7px 7px 7px 20px;
  width: 19%;
  min-width: 90px;
  max-width: 110px;
  border: none;
  border-radius: 3px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  background-size: 20px auto;
  opacity: 0.9;
  vertical-align: top;
}

.share-buttons.bottom .share-facebook {
  background-color: #3b5998;
  background-image: url("https://fsfe.org/graphics/services/facebook_white.png");
}
.share-buttons.bottom .share-facebook:hover {
  background-color: #143271 !important;
}
.share-buttons.bottom .share-twitter {
  background-color: #55acee;
  background-image: url("https://fsfe.org/graphics/services/twitter_white.png");
}
.share-buttons.bottom .share-twitter:hover {
  background-color: #338acc !important;
}
.share-buttons.bottom .share-gplus {
  background-color: #d34836;
  background-image: url("https://fsfe.org/graphics/services/gplus_white.png");
}
.share-buttons.bottom .share-gplus:hover {
  background-color: #b12614 !important;
}
.share-buttons.bottom .share-diaspora {
  background-color: #404040;
  background-image: url("https://fsfe.org/graphics/services/diaspora_white.png");
}
.share-buttons.bottom .share-diaspora:hover {
  background-color: #101010 !important;
}
.share-buttons.bottom .share-flattr {
  background-color: #7ea352;
  background-image: url("https://fsfe.org/graphics/services/flattr_white.png");
}
.share-buttons.bottom .share-flattr:hover {
  background-color: #5a7f2e !important;
}
.share-buttons.bottom .share-support {
  background-color: #202d79;
  background-image: url("https://fsfe.org/graphics/services/fsfe_white.png");
}
.share-buttons.bottom .share-support:hover {
  background-color: #0a1763 !important;
}
.share-buttons.bottom .share-reddit {
  background-color: #ff5700;
  background-image: url("https://fsfe.org/graphics/services/reddit_white.png");
}
.share-buttons.bottom .share-reddit:hover {
  background-color: #dd3500 !important;
}
.share-buttons.bottom .share-gnusocial {
  background-color: #a22430;
  background-image: url("https://fsfe.org/graphics/services/gnusocial_white.png");
}
.share-buttons.bottom .share-gnusocial:hover {
  background-color: #850713 !important;
}
.share-buttons.bottom .share-hnews {
  background-color: #ff6600;
  background-image: url("https://fsfe.org/graphics/services/hackernews_white.png");
}
.share-buttons.bottom .share-hnews:hover {
  background-color: #dd3500 !important;
}

/* Share buttons form layout and behaviour hacks */
.share-buttons input[type="radio"],
.share-buttons input[type="radio"] + span,
.share-buttons input[type="checkbox"],
.share-buttons input[type="checkbox"] + span {display: none;}
.share-buttons input[type="radio"]:checked + span,
.share-buttons input[type="checkbox"]:checked + span {
  position: absolute;
  margin-top: 3.5em; margin-left: -10em;
  padding: .5em;
  z-index: 3;
  background-color: #333;
  border-radius: .5em;
  display: inline-block;
}
.share-buttons input[type="radio"]:checked + span:before,
.share-buttons input[type="checkbox"]:checked + span:before {
  content: '';
  position: absolute;
  top: -1em;
  height: 0em; width: 0em;
  border-bottom: 1em solid #333;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  z-index: 3;
}
.share-buttons input[type="radio"] + span > *{ vertical-align: middle; }
.share-buttons input[type="radio"] + span > button {
  margin: 2.5px 0 2.5px 5px;
  min-width: 4em;
  padding: .25em;
  font-weight: normal;
  font-size: 1em;
  line-height: normal;
}
.share-buttons input[type="radio"] + span > label {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, .5);
}

/* Separate share buttons form from possibly floating content */
form.share-buttons {
  clear: both;
}

