<header class="text-center">
  {{ with .Site.Params.authorImage }} <img src="{{ $.Site.BaseURL }}img/{{ . }}" class="img-circle s200"> {{ end }}

  {{ with .Site.Params.title }}
    <h1 class="border-bottom add-padding-bottom"><a href="{{ $.Site.BaseURL }}">{{ . | markdownify }}</a></h1>
  {{ end }}
	
  {{ with .Site.Params.subtitle }}
    <h2 class="text-right add-padding-right">{{ . | markdownify }}</h2>
  {{ end }}

  {{ with .Site.Params.description }}
    <p class="text-right remove-margin-bottom add-padding-right">{{ . | markdownify }}</p>
  {{ end }}

  <form action="https://fsfe.org/share" method="GET" class="share-buttons bottom" target="_blank">
    <input type="radio" name="popup" id="no-share-popup" />
    <input type="hidden" name="ref" value="bottom" />
    <input type="hidden" name="url" value="{{ $.Site.BaseURL }}" />
    <input type="hidden" name="title" value="{{ $.Site.Params.title }}" />
    <input type="hidden" class="n" name="website" placeholder="Please do not put anything here" />
    <label class="button share-diaspora" title="Share this page on Diaspora" for="diaspora-share-bottom">Diaspora</label><input type="radio" name="popup" id="diaspora-share-bottom"><span class="popup diaspora"><label for="no-share-popup"></label><input type="text" name="diasporapod" value="" placeholder="Diaspora URL (diasp.tld)"><button type="submit" name="service" value="diaspora">OK</button></span><wbr></wbr>
    <label class="button share-gnusocial" title="Share this page on GNU Social" for="gnusocial-share-bottom">GNU Social</label><input type="radio" name="popup" id="gnusocial-share-bottom"><span class="popup gnusocial"><label for="no-share-popup"></label><input type="text" name="gnusocialpod" value="" placeholder="GNU Social URL (gnusocial.tld)"><button type="submit" name="service" value="gnusocial">OK</button></span><wbr></wbr>
    <button type="submit" name="service" value="reddit" class="button share-reddit" title="Share this page on Reddit">Reddit</button><wbr></wbr>
    <button type="submit" name="service" value="hnews" class="button share-hnews" title="Share this page on Hacker News">Hacker News</button><wbr></wbr>
    <button type="submit" name="service" value="twitter" class="button share-twitter" title="Share this page on Twitter">Twitter</button><wbr></wbr>
    <button type="submit" name="service" value="facebook" class="button share-facebook" title="Share this page on Facebook">Facebook</button><wbr></wbr>
    <button type="submit" name="service" value="gplus" class="button share-gplus" title="Share this page on Google+">Google+</button><wbr></wbr>

  </form>
</header>


